input[type="radio"] {
  position: absolute;
}

.admin-wrapper{
  display: flex;
}

.statement-wrapper {
  width: 70%;
  margin: 0 10px;
}

.progress-wrapper {
  margin-top: 10px;
}
.game-over {
  text-align: center;
  color: blue;
}

.chosen-player-name {
  font-size: 4rem;
  color: deepskyblue;
  text-align: center;
}
.loader {
  text-align: center;
}
.animated-text {
  text-align: center;
  font-size: 3rem;
  color: skyblue;
}

.total-guesses {
  padding: 5px;
  margin: 10px 0;
  line-height: 2rem;
}

label.disabled.list-group-item-action.list-group-item-success.list-group-item {
  background-color: green;
  color: white;
}